.tip {
	width: 90%;
	margin: 50px auto;
	font-size: 25px;
	line-height: 40px;
	background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;
}
.mini {
	width: 90%;
	display: block;
	margin: 0 auto;
}
.miniBox {
	padding: 0 20px;
    min-width: 0px;
    max-width: 1200px;
    margin: 0 auto;
}