body, html {
    background: #f7f7f7;
    padding: 0;
    margin: 0;
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    -webkit-font-smoothing: antialiased;
}